<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913268579108-3m874d62cncu0mtho91b8csg55cbn16f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913268579108-3m874d62cncu0mtho91b8csg55cbn16f</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbubqlByWk3UqH_mWxbaVtIrkps5Vj34</string>
	<key>GCM_SENDER_ID</key>
	<string>913268579108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocktail</string>
	<key>PROJECT_ID</key>
	<string>cocktail-529a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktail-529a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913268579108:ios:f0a4eef105d7f5c71c31b1</string>
	<key>DATABASE_URL</key>
	<string>https://cocktail-529a7.firebaseio.com</string>
</dict>
</plist>